<link rel="stylesheet" href="/styles/estilos.css" />
<div class="menuadt">
  <div class="logo">
    <img src="/images/logos/Logomobile.png" alt="movistar" />
  </div>
  <div class="logoDesk">
    <img src="/images/logos/Logo.png" alt="movistar" />
  </div>
  <div class="menu">
    <img src="/images/iconos/tel.png" alt="telefono" />
    <p>Compra aquí <strong>01 8000 911 008</strong></p>
  </div>
</div>
