<link rel="stylesheet" href="/styles/estilos.css" />
<div class="terminos">
  <h3>Términos y Condiciones</h3>
  <p>Términos y Condiciones Bonos de Descuentos</p>
  <p>
    Oferta valida para clientes individuales del 16 al 31 de julio de 2018 o
    hasta agotar existencias. Son 500 unidades disponibles. Los clientes de las
    siguientes ciudades con su área metropolitana, Cali Bucaramanga
    (Piedecuesta), Medellín (Bello), y Bogotá que adquieran los quipo de la
    promición tendran un bono de hasta $450.000 para compra de nuevo quipo de
    acuerdo a la referencia selecionada. Los clientes de las demás ciudades
    tendrán un bono de hasta $400.000 según la referencia de equipo
    seleccionada. Esta oferta aplica para venta de lineas nuevas y reposiciones
    en quipos seleccionados. No aplica para pago de quipos a cuotas y para
    lineas portadas. Disponibilidad de equipos y colores sujetas a inventario en
    la tienda web. Garantía de 12 meses a partir de la fecha de entrega del
    equipo al cliente.
  </p>
  <p class="moreTerminos">Mostrar todos los terminos y condiciones</p>
</div>
