<link rel="stylesheet" href="/styles/estilos.css" />
<!-- Plan 3  -->
<div class="centrar">
    <div class="encabezado"><p>3.5 GB </br>  
    DE INTERNET </p>
    </div>
    <p class="paquete-p"><strong> 5 GB de Movistar Cloud</strong></p>
    <p class="paquete-p"><strong>Minutos Ilimitados</strong> </br>
        a Fijo o Móvil </br>
        <img src="../../images/iconos/colombia.jpg" alt="Colombia" ></img>
    </p>
    <p class="paquete-p"><strong>Apps Illimitadas</strong> </br>
        <img class="imagenesIcono" src="../../images/iconos/iconos_rrss.png" alt="Redes Sociales" ></img>
    </p>
    <p class="paquete-p play">
        <img src="../../images/logos/movistar-play.png" alt='Movistar Play'/></br>
        Lite
    </p>
    <p class="paquete-p">$65.900 / mes
        <button> Lo quiero</button>
    </p>
</div>