<link rel="stylesheet" href="/styles/estilos.css" />
<!-- Plan 2 -->
<div class="centrar">
    <div class="encabezado azul"><p>1.6 GB </br>  
      DE INTERNET </p>
    </div>
    <p class="paquete-p oferta">OERTA EXCLUSIVA ONLINE </br> <strong> ¡ACTÍVALO EN FACTURA DIGITAL!</strong></p>
    <p class="paquete-p"><strong> 5 GB de Movistar Cloud</strong></p>
    <p class="paquete-p"><strong>Minutos Ilimitados</strong> </br>
      a Fijo o Móvil </br>
      <img src="../../images/iconos/colombia.jpg" alt="Colombia" ></img>
    </p>
    <p class="paquete-p"><strong>3.000 SMS</strong></p>
    <p class="paquete-p"><strong>Apps Illimitadas</strong> </br>
      <img class="imagenesIcono" src="../../images/iconos/iconos_rrss_completo.png" alt="Redes Sociales" ></img>
    </p>
    <p class="paquete-p">$44.900 / mes
      <button class="azul"> Lo quiero</button>
    </p>
</div>