<link rel="stylesheet" href="/styles/estilos.css" />
<!-- Plan 1 -->
<div class="centrar">
    <div class="encabezado"><p>8.2 GB </br>  
    DE INTERNET </p>
    </div>
    <p class="paquete-p"><strong> 20 GB de Movistar Cloud</strong></p>
    <p class="paquete-p"><strong>Minutos Ilimitados</strong> </br>
        a Fijo o Móvil </br>
        <img src="../../images/iconos/colombia.jpg" alt="Colombia" ></img>
        <img src="../../images/iconos/flag_usa.png" alt="USA" ></img>
        <img src="../../images/iconos/flag_costa.png" alt="Costa Rica" ></img>
        <img src="../../images/iconos/flag_can.png" alt="Canada" ></img>
    </p>
    <p class="paquete-p"><strong>Apps Illimitadas</strong> </br>
        <img class="imagenesIcono" src="../../images/iconos/iconos_rrss_completo.png" alt="Redes Sociales" ></img>
    </p>
    <p class="paquete-p">Nepster/ Movistar Música</p>
    <p class="paquete-p play">
        <img src="../../images/logos/movistar-play.png" alt='Movistar Play'/></br>
        Lite
    </p>
    <p class="paquete-p">$127.900 / mes
        <button> Lo quiero</button>
    </p>
</div>