.iframefor {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: none;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
}

.promocion-upF {
  background-color: white;
  width: 80%;
  margin: 20% auto;
  display: absolute;
  padding: 1rem 1rem 0rem 1rem;
  border-radius: 0.5rem;
}

.promocion-upF h1 {
  color: var(--azul);
  text-align: center;
}

.Datos {
  width: 100%;
}

.Datos label {
  width: 90%;
  text-align: left;
  display: block;
  margin-left: 10%;
}
.Datos input {
  width: 90%;
  border: none;
  border-bottom: 1px solid var(--grisClaro);
  padding: 0.3rem;
}

.form p {
  color: var(--grisOscuro);
  text-align: center;
  font-size: 1rem;
}

pre {
  width: 50%;
  float: left;
  text-align: left;
  display: block;
}
pre input {
  margin-left: -6rem;
}

.enviar {
  width: 50%;
  background-color: var(--verde);
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0 0 5% 25%;
}
.cazul {
  color: var(--azul);
  border: 0.1rem solid var(--azul);
}

@media screen and (max-device-width: 679px) and (min-device-width: 480px) {
  .promocion-upF {
    margin: 5% auto;
  }
  .Datos {
    width: 50%;
    float: left;
    padding-top: 0.3rem;
    font-size: 0.8rem;
  }
  .Datos input {
    padding: 0.2rem;
  }
  .form p {
    margin-top: 3rem;
    font-size: 0.9rem;
  }
  .promocion-upF h1 {
    font-size: 1.4rem;
  }
  pre {
    width: 30%;
    margin: 0;
  }
  pre input {
    margin-left: 0rem;
  }
  .enviar {
    margin: 0 0 2% 25%;
  }
}
@media screen and (max-device-width: 1024px) and (min-device-width: 680px) {
  .promocion-upF {
    width: 60%;
    margin: 5% auto;
    padding: 2rem;
  }
  .Datos {
    width: 50%;
    float: left;
    padding-top: 0.7rem;
    font-size: 0.8rem;
  }
  .form p {
    margin-top: 5rem;
    font-size: 1rem;
  }
  pre {
    width: 30%;
    margin: 0;
  }
  pre input {
    margin-left: 0rem;
  }
}
@media screen and (min-device-width: 1025px) {
  .promocion-upF {
    width: 60%;
    margin: 5% auto;
    padding: 2rem;
  }
  .Datos {
    width: 50%;
    float: left;
    padding-top: 0.7rem;
    font-size: 0.8rem;
  }
  .form p {
    margin-top: 5rem;
    font-size: 1rem;
  }
  pre {
    width: 30%;
    margin: 0;
  }
  pre input {
    margin-left: 0rem;
  }
}

@media screen and (min-device-width: 1025px) {
  .promocion-upF {
    width: 40%;
    margin: 5% auto;
    padding: 5rem;
  }
  .Datos {
    width: 50%;
    float: left;
    padding-top: 0.7rem;
    font-size: 1rem;
  }
  .form p {
    margin-top: 5rem;
    font-size: 1.2rem;
  }
  pre {
    width: 20%;
    margin: 0 auto;
  }
  pre input {
    margin-left: 100%;
    font-size: 2rem;
  }
  .enviar {
    font-size: 1rem;
    margin-top: 2rem;
  }
}
