:root {
  --azul: #00a9e0;
  --verde: #5bc500;
  --naranja: #f1a83b;
  --morado: #7c4e84;
  --grisOscuro: #828589;
  --grisClaro: #e9eae8;
  --rosado: #c3586e;
}
body {
  margin: 0;
  font-family: sans-serif;
  color: var(--grisOscuro);
}
iframe {
  width: 100%;
  height: 4rem;
}
button {
  border: none;
  background-color: var(--verde);
  color: white;
  border-radius: 0.3rem;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 1rem;
}
.centrar {
  text-align: center;
}

@media screen and (max-device-width: 679px) and (min-device-width: 480px) {
  iframe {
    width: 100%;
    height: 3rem;
  }
  button {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
