header {
  width: 100%;
  margin: 0;
  height: fit-content;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 1;
}
.menuR {
  position: relative;
}
.menuF {
  position: fixed;
}
.logo {
  float: left;
  left: 0;
  padding: 0.7rem;
  width: 13%;
}
.logo img {
  width: 100%;
}
.menu {
  right: 0;
  text-align: end;
  padding: 0.7rem;
}
.logoDesk {
  display: none;
}
.menu p {
  display: none;
}
@media screen and (max-device-width: 679px) and (min-device-width: 480px) {
  .logo {
    width: 7%;
  }
  .menu img {
    width: 2rem;
  }
}
@media screen and (max-device-width: 1024px) and (min-device-width: 680px) {
  .logo {
    display: none;
  }
  .logoDesk {
    display: block;
    margin: 1rem;
    width: 50%;
    float: left;
  }
  .logoDesk img {
    width: 40%;
  }
  .menu img {
    display: none;
  }
  .menu {
    width: 40%;
    float: left;
  }
  .menu p {
    display: block;
    color: var(--grisOscuro);
  }
  .menu strong {
    color: var(--verde);
    font-size: 1.1rem;
  }
}
@media screen and (min-device-width: 1025px) {
  .logo {
    display: none;
  }
  .logoDesk {
    display: block;
    margin: 1rem;
    width: 50%;
    float: left;
  }
  .logoDesk img {
    width: 30%;
  }
  .menu img {
    display: none;
  }
  .menu {
    width: 40%;
    float: left;
  }
  .menu p {
    display: block;
    color: var(--grisOscuro);
  }
  .menu strong {
    color: var(--verde);
    font-size: 1.1rem;
  }
  .menuadt {
    width: 60%;
    margin: 0 auto;
  }
}
