.famePlanes {
  height: 35rem;
}
.encabezado {
  background-color: var(--verde);
  color: white;
  padding: 0.1rem;
}
.paquete-p {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem;
  border-bottom: 1px solid var(--grisClaro);
  line-height: 1.7rem;
}
.imagenesIcono {
  width: 100%;
}
.play {
  color: var(--azul);
}
.play img {
  width: 40%;
  margin: 0 auto;
}
.azul {
  background-color: var(--azul);
}
/* Oferta */
.oferta {
  background-color: var(--rosado);
  color: white;
  width: 94%;
  font-size: 0.8rem;
  line-height: 1rem;
}
.oferta:before {
  content: "";
  position: absolute;
  top: 4rem;
  left: 50%;
  width: 0;
  height: 0;
  border-width: 0 0.5rem 0.5rem;
  border-style: solid;
  border-color: transparent transparent var(--rosado);
}
