/* Popup prmocion */
.iframepop {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
}

.promocion-up {
  background-color: var(--azul);
  width: 80%;
  margin: 20% auto;
  display: absolute;
  padding: 1rem 1rem 0rem 1rem;
  border-radius: 0.5rem;
}
.promocion-up img {
  width: 100%;
}
.promocion-up p {
  color: white;
  text-align: center;
  font-size: 1.8rem;
}
.cerrar {
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 0.1rem solid white;
  text-align: center;
  color: white;
  float: right;
}
.imgdesk {
  display: none;
}
@media screen and (max-device-width: 679px) and (min-device-width: 480px) {
  .promocion-up {
    width: 70%;
    margin: 10% auto;
  }
  .promocion-up img {
    width: 50%;
    margin-left: 25%;
  }
  .promocion-up p {
    width: 80%;
    margin-left: 5%;
    font-size: 1.58rem;
  }
  .cerrar {
    width: 17px;
    height: 17px;
  }
}
@media screen and (max-device-width: 1024px) and (min-device-width: 680px) {
  .promocion-up {
    width: 60%;
    margin: 15% auto;
  }
  .imgmovile {
    display: none;
  }
  .imgdesk {
    display: block;
  }
}
@media screen and (min-device-width: 1025px) {
  .promocion-up {
    width: 60%;
    margin: 15% auto;
  }
  .imgmovile {
    display: none;
  }
  .imgdesk {
    display: block;
  }
}
