.section {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.section input {
  display: none;
}
/* seccion de promociones */
.text {
  color: var(--azul);
  font-size: 1.6rem;
  margin: 0;
  padding-top: 3rem;
}
.parrafo-promo {
  color: var(--grisOscuro);
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.plan {
  background-color: var(--azul);
  color: white;
  padding: 0.1rem;
  margin-top: -0.3rem;
  text-align: center;
  font-size: 1.6rem;
}
.plan img {
  margin: 1.2rem;
  width: 14%;
}
.imgDesk {
  display: none;
}
/* seccion de planes */
.section-P {
  width: 90%;
  margin: 0 auto;
}
.paquetes {
  max-width: 300px;
  position: relative;
  margin: auto;
}
.titulo {
  font-size: 1.3rem;
  padding-top: 3rem;
  text-align: center;
}
.paquete,
.paqueteini {
  display: none;
  border: 1px solid var(--grisClaro);
  text-align: center;
  font-size: 1rem;
}
.paqueteini {
  display: block;
}

/* Mas Promociones */
.section-MP {
  font-size: 1.3rem;
  text-align: center;
}

.cuadroazul {
  background-color: var(--azul);
  color: white;
  text-align: left;
  margin-top: 1rem;
  padding: 0.6rem;
  height: 13rem;
}
.textCA {
  width: 60%;
  font-size: 0.9rem;
  padding-top: 1rem;
  float: right;
}
.producto {
  width: 40%;
  float: left;
}
.producto img {
  width: 98%;
}
.cuadrogris {
  background-color: var(--grisClaro);
  text-align: left;
  padding: 4rem 1rem 1rem 1rem;
}
.cuadrogris p {
  margin-bottom: 0;
}
.ciculonaranja {
  background-color: var(--naranja);
  color: white;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin-top: -3rem;
}
.cupon {
  background-color: var(--morado);
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 40%;
}
.section-MP button {
  margin-top: 0;
}
/* Terminos y Condiciones */
.fameterminos {
  height: 24rem;
  padding-top: 1rem;
}
.terminos {
  background-color: var(--grisClaro);
  padding: 1rem;
  text-align: justify;
  font-size: 0.8rem;
}
.terminos h3 {
  text-align: center;
}
.moreTerminos {
  text-align: center;
  font-weight: bold;
}
/* Ventas */
.venta {
  position: fixed;
  bottom: 0;
  right: 0;
}
@media screen and (max-device-width: 679px) and (min-device-width: 480px) {
  .section {
    width: 80%;
  }
  .plan img {
    margin: 1.2rem;
    width: 8%;
  }
  .ptext {
    width: 70%;
  }
  .producto {
    width: 22%;
    float: left;
    margin-left: 8%;
  }
  .cuadrogris {
    text-align: center;
  }
  .terminos {
    padding: 2rem;
    font-size: 0.7rem;
  }
  .fameterminos {
    height: 15rem;
  }
}
@media screen and (max-device-width: 1024px) and (min-device-width: 680px) {
  .section input {
    display: block;
    width: 40%;
    float: left;
    border: none;
    border: 1px solid var(--grisClaro);
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem 1rem 0 5%;
    text-align: center;
  }
  .section button {
    width: 40%;
    float: left;
  }
  .imgDesk {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0.3rem;
  }
  .imgMobile {
    display: none;
  }
  .text {
    padding-top: 4rem;
  }
  .plan img {
    margin: 1.2rem;
    margin-top: 0;
    width: 6%;
  }
  .mproduct {
    width: 45%;
    float: left;
    margin: 2%;
  }
  .ciculonaranja {
    right: auto;
    margin-left: 30%;
  }
  .cupon {
    width: 45%;
  }
  .terminos {
    padding: 2rem 3rem 1rem 3rem;
    font-size: 0.9rem;
  }
  .fameterminos {
    height: 18rem;
  }
}
@media screen and (min-device-width: 1025px) {
  .text {
    font-size: 3rem;
  }
  .parrafo-promo {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .section input {
    display: block;
    width: 20%;
    float: left;
    border: none;
    border: 1px solid var(--grisClaro);
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1.2rem;
    margin: 1rem 1rem 0 30%;
    text-align: center;
  }
  .section button {
    width: 20%;
    float: left;
    font-size: 1.2rem;
  }
  .imgDesk {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 0.3rem;
    padding-top: 2rem;
  }
  .imgMobile {
    display: none;
  }
  .text {
    padding-top: 0rem;
  }
  .plan p {
    font-size: 2rem;
  }
  .plan img {
    margin: 1.2rem;
    margin-top: 0;
    width: 3%;
  }
  .mproduct {
    width: 45%;
    float: left;
    margin: 2%;
  }
  .textCA {
    width: 70%;
    font-size: 1rem;
  }
  .ciculonaranja {
    right: auto;
    margin-left: 23%;
  }
  .cupon {
    width: 32%;
  }
  .terminos {
    padding: 2rem 12rem 2rem 12rem;
    font-size: 1.1rem;
  }
  .fameterminos {
    height: 20rem;
  }
  .section-MP {
    width: 70%;
    margin: 0 auto;
  }
  .producto {
    width: 30%;
  }
  .producto img {
    width: 90%;
    margin-left: 8%;
  }
  .cuadrogris button {
    width: 50%;
    float: right;
    margin-top: -3rem;
  }
  .cuadrogris strong {
    display: block;
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .venta img {
    width: 150%;
  }
  .venta {
    right: 2rem;
  }
}
