.atras,
.siguiente {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 0%;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.siguiente {
  right: -1.5rem;
  border-radius: 3px 0 0 3px;
}
.atras {
  left: -2rem;
}
.siguiente:hover,
.atras:hover {
  color: var(--azul);
}

.animacion {
  -webkit-animation-name: transicion;
  -webkit-animation-duration: 1.5s;
  animation-name: transicion;
  animation-duration: 1.5s;
}

@-webkit-keyframes transicion {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes transicion {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
